*{
    font-family: 'Poppins';

}
#body{
  font-family: 'Poppins';
  font-size: 12px;
  background-color: white;
  overflow: hidden;
  overflow-y: auto;
  
}


#root{
  margin: 0px;
  padding: 0px;
  width: max-content;
  width: 100%;
}

.container{
  display: flex;
  flex-direction: row-reverse;
}

.title{
  font-size: 35px;
}


.d_btn{
  background-color: azure;
  color: black;
  cursor: pointer;
  width: 160px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid lightslategray;
}
.d_btn:hover{
  width: 162px;
  height: 42px;
  transition: 0.5s;
  background-color:black ;
  color: white;

}
.inputBox {
  width: 350px;
  padding: 12px 20px;
  margin: 15px 20px;
  border: none;
  border-bottom: 2px solid lightgray;
}
.add {
 
  cursor: pointer;
  width: 150px;
  font-size: 14px;
  padding: 12px 18px;
  margin: 8px 0;
  margin-right: 10px;
  background-color: greenyellow;
  border: none;
  border-radius: 15px;
}
.add:hover{
  background-color: green;
  color:white;
  transition: 555ms;
}
.btn1{
  background-color: yellow;
  padding: 10px 15px;
  border: none;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 10px;

}
.btn1:hover{
  background-color: purple;
  color: aliceblue;
  transition:300ms;
  width: 65px;
  height: 40px;

}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  width: 100%;
}

.form{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
  margin: 10px 10px;
}


.btn{
  
  border-radius: 55px;
  margin-left: 10px;
  background-color: red;
  color: black;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

.btn:hover{
  background-color: red;
  padding: 40px,25px;
  transition: 200ms;
  color: white;
  width: 55px;
  height: 45px;
}


.task{
  
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 15px;
}

.ast{
 
  display: flex;
  align-items: center;;
  justify-content: center;
}

@media screen and (max-width:470px) {
  .form{
    flex-direction: column;
  }
  .inputBox{
    width: 270px;
    margin: 0px 80px;
  }
}

@media  screen and (max-width:319px) {
  .inputBox{
    width: 220px;
  }
  
}
